{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label >Username: </label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="">Password: </label>
        <input type="password" name="Password" placeholder="Enter Password">

        <input type="submit" value="Login" >
    </form>

    <p>haven't signed up?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"  >
    </form>
     <p>Already have an account?</p>
    <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}