<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}?v=1.3" />
    <title>CONNEXTA</title>
</head>

<body>

    {% include 'an_navbar.html' %}
    <main class="main-content">
        {% block content %}
        <!-- Your page content goes here -->
        {% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>