



<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}?v=1.22" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'an_navbar.html' %}
    
     
        {% block content %}
        <!-- Your page content goes here -->
        {% endblock %}
   
    {% block extra_js %}{% endblock %}
</body>
</html>